body{background-color: #2c2c2c;} 
.post{
    background-color: #1C1C1B;
    border-radius: 3vh;
    width: 35vw;
    height: 15vh;
    flex-wrap: wrap;
    padding: 2vh;
}
.heading{
    font-family: roboto;
    color: white;
    font-size: 4.5vh;
}
.line{
    height: .1vh;
    width: auto;
    background-color: #FF776A;
}
.words{
    font-family: roboto;
    color:#FF776A;
    font-size: 2vh;
    padding: .5vh;
}
.upvotes{
    font-family: roboto;
    font-size: 2vh;
    width: auto;
    text-align: end;
    color: #2c2c2c;
}
.center{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: auto;
  display: flex;
}
.comments{
    width: 35vw;
    background-color: #1C1C1B;
    border-radius: 3vh;
    width: 35vw;
    height: 7vh;
    padding: 1vh;
    outline-style: solid;
    outline-color: #FF776A;
    outline-width: .1vh;
    font-family: roboto;
    color: #414040;
    font-size: large;
    display: flex;
    justify-content: center;
    position: fixed;
}
input[type=text]{
   width: 35vw;
    background-color: transparent;
    border-radius: 3vh;
    width: 30vw;
    height: 6vh;
    padding: .5vh;
    outline-style: none;
    font-family: roboto;
    color: white;
    font-size: 3vh;
    flex-wrap: wrap;
    border: none;
}
.line2{
    height: auto;
    width: .1vh;
    background-color: #FF776A;
}
.full{
    justify-content: center;
}