body{background-color: #2c2c2c;} 
.post{
    background-color: #1C1C1B;
    border-radius: 3vh;
    width: 75vh;
    height: 20vh;
    flex-wrap: wrap;
    padding: 2vh;
    position: absolute;
    margin-left: 30vmax;
    margin-right: 30vmax;
    flex: auto;
}
.heading{
    font-family: roboto;
    color: white;
    font-size: 4.5vh;
}
.line{
    height: .3vh;
    width: auto;
    background-color: #E3D2C6;
}
.words{
    font-family: roboto;
    color:#E3D2C6;
    font-size: 2.5vh;
    padding: .5vh;
}
